<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download File</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/downloadFile.css" />
        <script src="/javascripts/setIsLoading.js" defer></script>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="pageContainer">
            <h1 class="title"><span class="boldText">Download file: </span><%= file.name %></h1>
            <% if (data.resources && data.resources.length > 0) { %>
                <% data.resources.forEach(resource => { %>
                    <div class="resource">
                        <% if (['jpg', 'jpeg', 'png', 'gif', 'webp'].includes(resource.format)) { %>
                            <img src="<%= file.url %>" class="fileImage" alt="File preview">
                        <% } else if (['mp4', 'webm', 'ogg'].includes(resource.format)) { %>
                            <video src="<%= file.url %>" alt="<%= file.name %> video preview" controls="true" class="fileVideo"></video>
                        <% } else if (['pdf'].includes(resource.format)) { %>
                            <iframe src="<%= file.url %>" class="filePDF" title="<%= file.name %> preview"></iframe>
                        <% } else { %>
                            <p class="noPreview">No preview available for this file</p>
                        <% } %>
                        <h2 class="resourceSize"><b>Size:</b> <%= file.size %></h2>
                        <p class="resourceFormat"><b>Format:</b> <%= resource.format %></p>
                        <p class="resourceUploadTime"><b>Uploaded:</b> <%= file.upload_time.toUTCString() %></p>
                        <a href="<%= resource.url.replace('/upload/', '/upload/fl_attachment/') %>" class="downloadBtn" download>Download</a>
                        <p id="loading"></p>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="downloadError">No file found with this ID.</p>
            <% } %>
            <% if (currentUser) { %>
                <a href="/uploads/file/<%= file.id %>" class="backLink">Go to file details</a>
            <% } else { %>
                <a href="/uploads" class="backLink">Go to welcome page</a>
            <% } %>
        </div>
    </body>
</html>
