<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download File</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/downloadFile.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <div class="pageContainer">
            <h1 class="title"><span class="boldText">Download file: </span><%= file.name %></h1>
            <% if (data.resources && data.resources.length > 0) { %>
                <% data.resources.forEach(resource => { %>
                    <div class="resource">
                        <h2 class="resourceSize"><b>Size:</b> <%= file.size %></h2>
                        <p class="resourceFormat"><b>Format:</b> <%= resource.format %></p>
                        <p class="resourceUploadTime"><b>Uploaded:</b> <%= file.upload_time.toUTCString() %></p>
                        <a href="<%= resource.url.replace('/upload/', '/upload/fl_attachment/') %>" class="downloadBtn" download>Download</a>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="downloadError">No file found with this ID.</p>
            <% } %>
        </div>
    </body>
</html>
