<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= file.name %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/fileDetails.css" />
      <script src="/javascripts/copy.js" defer></script>
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title">File details</h1>
        <h2 class="filename"><%= file.name %></h2>
        <img src="<%= file.url %>" class="fileImage" alt="File preview">
        <p class="fileDetail"><span class="boldText">Folder:</span> <%= folder.name %></p>
        <p class="fileDetail"><span class="boldText">Size:</span> <%= file.size_mb %> mb</p>
        <p class="fileDetail"><span class="boldText">Uploaded:</span> <%= file.upload_time.toUTCString() %></p>
        <div class="downloadLinkDiv">
          <p class="downloadLinkTitle">Copy URL to share this file:</h3>
          <p class="downloadLinkText"><%= url %></p>
          <button class="downloadLinkBtn" onclick="copyToClipboard()">Copy to Clipboard</button>
        </div>
        <div class="fileOptions">
          <a href="/uploads/file/<%= file.id %>/download" class="downloadFile">Download file</a>
          <a href="/uploads/file/<%= file.id %>/update" class="updateFile">Move file</a>
          <a href="/uploads/file/<%= file.id %>/delete" class="deleteFile">Delete file</a>
        </div>
        <% if (file.folder_id) { %>
          <a href="/uploads/folder/<%= file.folder_id %>" class="backLink">Back to folder</a>
        <% } else { %>
          <a href="/uploads/user/<%= currentUser.id %>/home" class="backLink">Back to home</a>
        <% } %>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>

