<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Delete file</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/fileDeleteForm.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title">Delete file</h1>
        <% if (file.name.length > 29) { %>
          <p class="fileName"><%= file.name.slice(0, 24) %>...</p>
        <% } else { %>
          <p class="fileName"><%= file.name.slice(0, -4) %></p>
        <% } %>
        <p class="fileDetail"><span class="boldText">Type: </span><%= file.name.slice(-4) %></p>
        <p class="fileDetail"><span class="boldText">Size:</span> <%= file.size %></p>
        <p class="fileDetail"><span class="boldText">Uploaded:</span> <%= file.upload_time.toUTCString() %></p>
        <form id="deleteFile" action="/uploads/file/<%= file.id %>/delete" method="post">
            <button type="submit" class="deleteFileBtn">Delete File</button>
        </form>
        <a href="/uploads/file/<%= file.id %>" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>