<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title><%= file.name %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/fileDetails.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="fileDetails">
        <h1 class="title">File details</h1>
        <h2 class="filename"><%= file.name %></h2>

        <img src="<%= file.url %>" class="fileImage" alt="File preview">
        <p class="fileDetail"><b>Folder:</b> <%= folder.name %></p>
        <p class="fileDetail"><b>Size:</b> <%= file.size_mb %> mb</p>
        <p class="fileDetail"><b>Uploaded:</b> <%= file.upload_time.toUTCString() %></p>
        <button type="button" class="downloadBtn">Download file</button>
        <div class="fileOptions">
          <a href="/uploads/file/<%= file.id %>/update" class="updateFile">Move file</a>
          <a href="/uploads/file/<%= file.id %>/delete" class="deleteFile">Delete file</a>
        </div>
        <% if (file.folder_id) { %>
          <a href="/uploads/folder/<%= file.folder_id %>" class="backLink">Back to folder</a>
        <% } else { %>
          <a href="/uploads/user/<%= currentUser.id %>/home" class="backLink">Back to home</a>
        <% } %>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>