<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Upload file</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <h1>Upload file</h1>
      <form id="uploadFile" action="/uploads/user/file/create" method="post" enctype="multipart/form-data">
        <div>
          <label class="uploadFileLabel" for="folder_id">Select folder</label>
          <select id="folder_id" name="folder_id" required>
            <ul>
              <% folders.map((folder) => { %>
                <li><option value="<%= folder.id %>"><%= folder.name %></option></li>
              <% }) %>
            </ul>
          </select>
        </div>
        <div>
          <label class="uploadFileLabel" for="file">Choose file</label>
          <input id="file" name="file" type="file" class="uploadFileInput" required>
        </div>
          <button type="submit" class="uploadFileBtn">Upload File</button>
      </form>
      <a href="/uploads/user/<%= currentUser.id %>/home" class="cancel">Cancel</a>
      <p class="message"><%= message %></p>
    </body>
  <% } else { %>
    <head>
      <title>Page not accessible</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <h1>Page not accessible</h1>
      <a href="/uploads" class="welcomeLink">Back to welcome page</a>
    </body>
  <% } %>
</html>