<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Upload file</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/fileUploadForm.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="fileUploadForm">
        <h1 class="uploadFileTitle">Upload file</h1>
        <form id="uploadFile" action="/uploads/user/file/create" method="post" enctype="multipart/form-data">
          <div class="inputDiv">
            <label class="uploadFileLabel selectFolderLabel" for="folder_id">Select folder</label>
            <select id="folder_id" name="folder_id" class="uploadFileInput" required>
              <ul>
                <% folders.map((folder) => { %>
                  <li><option value="<%= folder.id %>"><%= folder.name %></option></li>
                <% }) %>
              </ul>
            </select>
          </div>
          <div class="inputDiv fileInputDiv">
            <label class="uploadFileLabel" for="file">Select file</label>
            <input id="file" name="file" type="file" class="uploadFileInput" required>
          </div>
          <button type="submit" class="uploadFileBtn">Upload File</button>
        </form>
        <a href="/uploads/user/<%= currentUser.id %>/home" class="cancelBtn">Cancel</a>
        <p class="message"><%= message %></p>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>