<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Move file</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/fileUpdateForm.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title"><span class="boldText">Move file:</span> <%= file.name %> </h1>
        <form id="updateFile" action="/uploads/file/<%= file.id %>/update" method="post">
          <label class="updateFileLabel" for="folder_select">Select folder</label>
          <select id="folder_select" name="folder_id">
            <% folders.map((folder) => { %>
              <% if (folder.id === file.folder_id) { %>
                <option value="<%= folder.id %>" selected><%= folder.name %></option>
              <% } else { %>
                <option value="<%= folder.id %>"><%= folder.name %></option>
              <% } %>
            <% }) %>
          </select>
          <button type="submit" class="updateFileBtn">Move File</button>
          <% if (message) { %>
            <p class="message"><%= message %></p>
          <% } %>
        </form>
        <a href="/uploads/file/<%= file.id %>" class="cancelBtn">Cancel</a>
      </div>
    </body>
    <% } else { %>
      <%- include('pageNotFound') %>
    <% } %>
</html>