<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= folder.name %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/folderDetails.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title"><span class="boldText">Folder:</span> <%= folder.name %></h1>
        <a href="/uploads/user/<%= currentUser.id %>/file/create" class="folderOption">Upload file</a>
        <div class="folderOptions">
          <a href="/uploads/folder/<%= folder.id %>/update" class="folderOption">Rename folder</a>
          <a href="/uploads/folder/<%= folder.id %>/delete" class="folderOption">Delete folder</a>
        </div>
        <h3 class="filesTitle">Files</h3>
        <% if (files.length) { %>
          <div class="files">
            <% files.map((file) => { %>
              <div class="file" id="<%= file.id %>">
                <a href="/uploads/file/<%= file.id %>" class="fileLink fileListDetail"><%= file.name %></a>
                <p class="fileListDetail"><span class="boldText">Size:</span> <%= file.size %></p>
                <p class="fileListDetail"><span class="boldText">Uploaded:</span> <%= file.upload_time.toUTCString() %></p>
                <a href="/uploads/file/<%= file.id %>" class="fileLinkBtn">See details</a>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="noFiles">
            <h1 class="noFilesText">No files</h1>
          </div>
        <% } %>
        <a href="/uploads/user/<%= currentUser %>/home" class="backLink">Back to home</a>
      </div>
    </body>
  <% } else { %>
      <%- include('pageNotFound') %>
  <% } %>
</html>