<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create new folder</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/folderCreateForm.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title">Create new folder</h1>
        <form id="createFolder" action="/uploads/user/<%= currentUser.id %>/folder/create" method="post">
          <label class="createFolderLabel" for="name">Folder Name</label>
          <input id="name" name="name" type="text" class="createFolderInput" required autocomplete>
          <button type="submit" class="createFolderBtn">Create Folder</button>
          <p class="message"><%= message %></p>
        </form>
        <a href="/uploads/user/<%= currentUser %>/home" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>