<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Rename folder</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/folderUpdateForm.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="updateFolder">
        <h1 class="title">Rename folder: <%=folder.name %></h1>
        <form id="updateFolder" action="/uploads/folder/<%= folder.id %>/update" method="post">
          <div class="inputDiv">
            <label class="updateFolderLabel" for="name">Name</label>
            <input id="name" name="name" type="text" class="updateFolderInput" value="<%= folder.name %>" required autocomplete>
          </div>
            <button type="submit" class="updateFolderBtn">Rename Folder</button>
        </form>
        <a href="/uploads/folder/<%= folder.id %>" class="cancelBtn">Cancel</a>
        <p class="message"><%= message %></p>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>