<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Delete folder</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/folderDeleteForm.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="deleteFolderDiv">
        <h1 class="deleteFolderTitle">Delete folder "<%= folder.name %>"?</h1>
        <form id="deleteFolder" action="/uploads/folder/<%= folder.id %>/delete" method="post">
            <button type="submit" class="deleteFolderBtn">Delete Folder</button>
        </form>
        <a href="/uploads/folder/<%= folder.id %>" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>