<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title><%= folder.name %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/folderDetails.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="folderDetails">
        <h1 class="title"><%= folder.name %></h1>
        <div class="folderOptions">
          <a href="/uploads/user/<%= currentUser.id %>/file/create" class="folderOption">Upload file</a>
          <a href="/uploads/folder/<%= folder.id %>/update" class="folderOption">Rename folder</a>
          <a href="/uploads/folder/<%= folder.id %>/delete" class="folderOption">Delete folder</a>
        </div>
        <h3 class="filesTitle">Files</h3>
        <% if (files) { %>
          <div class="files">
            <% files.map((file) => { %>
              <div class="file" id="<%= file.id %>">
                <a href="/uploads/file/<%= file.id %>" class="fileLink fileListDetail"><%= file.name %></a>
                <p class="fileListDetail">Size: <%= file.size_mb %> mb</p>
                <p class="fileListDetail">Uploaded: <%= file.upload_time.toUTCString() %></p>
                <a href="/uploads/file/<%= file.id %>" class="fileLinkBtn">See details</a>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="noFiles">
            <h1 class="noFilesText">No files uploaded yet!<a href="/uploads/user/<%= currentUser.id %>/file/create" class="noFilesLink">Upload a file</a></h1>
          </div>
        <% } %>
        <a href="/uploads/user/<%= currentUser %>/home" class="backLink">Back to home</a>
      </div>
    </body>
  <% } else { %>
      <%- include('pageNotFound') %>
  <% } %>
</html>