<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Rename folder</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/folderUpdateForm.css' />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="pageContainer">
        <h1 class="title"><span class="boldText">Rename folder:</span> <%=folder.name %></h1>
        <form id="updateFolder" action="/uploads/folder/<%= folder.id %>/update" method="post">
          <label class="updateFolderLabel" for="name">Name</label>
          <input id="name" name="name" type="text" class="updateFolderInput" value="<%= folder.name %>" required autocomplete>
          <button type="submit" class="updateFolderBtn">Rename Folder</button>
          <% if (message) { %>
            <p class="message"><%= message %></p>
          <% } %>
        </form>
        <a href="/uploads/folder/<%= folder.id %>" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>