<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Create new folder</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/folderCreateForm.css" />
    </head>
    <body>
      <%- include('navbar') %>
      <div class="createFolder">
        <h1 class="createFolderTitle">Create new folder</h1>
        <form id="createFolder" action="/uploads/user/<%= currentUser.id %>/folder/create" method="post">
          <div class="inputDiv">
            <label class="createFolderLabel" for="name">Name</label>
            <input id="name" name="name" type="text" class="createFolderInput" required autocomplete>
          </div>
            <button type="submit" class="createFolderBtn">Create Folder</button>
            <p class="message"><%= message %></p>
        </form>
        <a href="/uploads/user/<%= currentUser %>/home" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include('pageNotFound') %>
  <% } %>
</html>