<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title><%= currentUser.username %>'s Home Page</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1><%= currentUser.username %>'s Home Page</h1>
      <a href="/uploads/user/<%= currentUser.id %>/update" class="accountDetailsLink">Update account details</a>
      <a href="/uploads/user/logout" class="logout">Log out</a>
      <h3>All folders</h3>
      <a href="/uploads/user/<%= currentUser.id %>/folder/create" class="createFolder">Create a new folder</a>
      <% currentUser.folders.map((folder) => { %>
        <div class="folder" id="<%= folder.id %>">
          <a href="/uploads/folder/<%= folder.id %>" class="folderLink"><%= folder.name %></a>
        </div>
      <% }) %>
    </body>
  <% } else { %>
    <head>
      <title>Page not accessible</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>Page not accessible</h1>
      <a href="/uploads" class="welcomeLink">Back to welcome page</a>
    </body>
  <% } %>
</html>